@using M101DotNet.WebApp.Models
@using Microsoft.AspNetCore.Http.Authentication
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@using System.Threading.Tasks
@model NewsBlogCoreMongo.Models.AccountViewModels.ExternalLoginListViewModel

@inject SignInManager<ApplicationUser> SignInManager

@{
    var loginProviders =  SignInManager.GetExternalAuthenticationSchemesAsync().Result.ToList();
    if (loginProviders.Count() == 0)
    {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else
    {
        using (Html.BeginForm("ExternalLogin", "Account", new { @Model.ReturnUrl }))
        {
            
            <p>
                @foreach (var p in loginProviders)
                {
                                        
                    <button type="submit"
                            class="zocial facebook"
                            id="facebook" name="provider"
                            value="facebook"
                            title="Log in using your Facebook account">
                             @SharedLocalizer["SingInWith"] facebook
                    </button>

                }


            </p>
         
        }
    }
}


