@{
    Layout = null;
}

<ul class="language">
    <li><a href="@Url.Action("ChangeCulture", "Culture", new { lang = "ru" }, null)"><img src="~/images/ru.png" asp-append-version="true" /></a></li> 
    <li><a href="@Url.Action("ChangeCulture", "Culture", new { lang = "en" }, null)"><img src="~/images/uk.png" asp-append-version="true"/></a></li>
    <div class="clear"></div>
</ul>



