
<!DOCTYPE HTML>
<html>
<head>
   
        
    <link rel="stylesheet" href="/bundles/content.css" />
    <link rel="stylesheet" href="/bundles/jsElements.css" />
    <script src="/bundles/modernizr.js"></script>
    <script src="/lib/Scripts/jquery-1.10.2.js"></script>
    <link rel="stylesheet" href="/lib/fontawesome/css/font-awesome.min.css" />
    <title>Some news blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Monda" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css">

  
</head>

<body>
@{await Html.RenderPartialAsync("_HeaderLayout");}

<div class="wrap">
    <div class="main">
        <div class="content">
            @RenderBody()
        </div>

        @await Component.InvokeAsync("CategoryList")

    </div>
</div>

<div class="clear"></div>

<div class="footer">

    <div class="copy_right">
        <p>News Blog © All Rights Reseverd | @DateTime.Now.Year </p>
    </div>

</div>

<script src="/bundles/bootstrapBundle.min.js"></script>
<script src="/bundles/jsElements.js"></script>

@RenderSection("scripts", required: false)

<script type="text/javascript">
    $(document).ready(function () {

        $('.fancybox').fancybox();

    });
</script>

</body>
</html>