
<!DOCTYPE HTML>
<html>
<head>
   

    <title>Some news blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="http://fonts.googleapis.com/css?family=Monda" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/**/*.min.css" asp-href-exclude="**/*-reboot*,**/*-grid*" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
  
</head>

<body>
@{await Html.RenderPartialAsync("_HeaderLayout");}

<div class="wrap">
    <div class="main">
        <div class="content">
            @RenderBody()
        </div>

        @await Component.InvokeAsync("CategoryList")

    </div>
</div>

<div class="clear"></div>

<div class="footer">

    <div class="copy_right">
        <p>News Blog © All Rights Reseverd | @DateTime.Now.Year </p>
    </div>

</div>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/scripts.js"></script>

@RenderSection("scripts", required: false)

<script type="text/javascript">
    $(document).ready(function () {

        $('.fancybox').fancybox();

    });
</script>

</body>
</html>