@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@model NewsBlogCoreMongo.Models.AccountViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = @SharedLocalizer["Forgot"];
}

<div class="wrap_login">
    <div class="main">
        <div class="contact-form">

            <h3>@ViewBag.Title</h3>

            <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal" role="form">

                <div class="form-group">
                    <h4>@SharedLocalizer["EmailRequired"]:</h4>
                    <input asp-for="Email"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <div class="help-block with-errors"></div>
                </div>

                <div class="form-group">
                    <input type="submit" class="btn btn-default" value="@SharedLocalizer["EmailLink"]" style="position: relative"/>
                </div>
            </form>

        </div>
    </div>
</div>

@section Scripts {
    <script src="/bundles/jqval.js"></script>
}



