@model NewsBlogCoreMongo.Core.Models.NewsCategory

<h3 style="color: crimson">Are you sure you want to delete this?</h3>
<div>
    <h4>News category: @Model.Name</h4>
    <hr/>

    <div class="row">
        <div class="col-md-4">
            <table class="table table-bordered table-condensed table-hover brd">
                <tr>
                    <td>
                        @Model.Name
                    </td>
                    <td>
                        <form asp-action="Delete" method="post" role="form">

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-danger" style="float: inherit"/>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="clear"></div>
    <span style="font-size: 13px;"><a asp-controller="NewsItems" asp-action="List" style="color: #EB7F1A"><<< Back to List</a></span>
</div>
