@model NewsBlogCoreMongo.Core.Models.NewsCategory

<div class="wrap">
    <div class="main">
        <div class="section group">
            <div class="col span_2_of_3">

                <div class="contact-form">
                    <h3>Edit @Model.Name category</h3>

                    <form asp-controller="Category" asp-action="Edit" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <input type="hidden" asp-for="Id"/>

                        <div class="row">
                            <div class="col-md-4">
                                <h4>
                                    <label asp-for="Name"></label>
                                </h4>
                                <span style="font-size: medium">
                                    <input asp-for="Name"/>
                                </span>
                                <span asp-validation-for="Name" class="text-danger"></span>


                                <div class="form-group">
                                    <span>
                                        <input type="submit" style="position: relative" value="Update">
                                    </span>
                                </div>

                            </div>
                        </div>

                    </form>

                </div>
                <span style="font-size: 13px;"><a asp-controller="NewsItems" asp-action="List" style="color: #EB7F1A"><<< Back to List</a></span>
            </div>
        </div>
    </div>
</div>




