@model NewsBlogCoreMongo.Models.NewsItemViewModel
@{
    Layout = "_AdminLayout";
}

<div class="wrap">
    <div class="main">
        <div class="section group">

            <div class="col span_2_of_3">
                <div class="contact-form">
                    <h3>Create News item</h3>


                    <form asp-controller="NewsItems" asp-action="Create" method="post" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="danger"></div>

                        <div class="row">
                            <span>
                                <label asp-for="newsItem.Headline"></label>
                            </span>
                            <span>
                                <input asp-for="newsItem.Headline"/>
                            </span>
                            <span asp-validation-for="newsItem.Headline" class="text-danger"></span>
                        </div>


                        <div class="row">
                            <span>
                                <label asp-for="newsItem.Body"></label>
                            </span>
                            <span>
                                <input asp-for="newsItem.Body"/>
                            </span>
                            <span asp-validation-for="newsItem.Body" class="text-danger"></span>
                        </div>


                        <div class="row">
                            <hr/>
                            <div class="col-md-4">
                                <span>
                                    <label asp-for="newsItem.CreatedAtUtc"></label>
                                </span>
                                @{ ViewContext.ClientValidationEnabled = false; }
                                <span class="my-date-time">
                                    <input asp-for="newsItem.CreatedAtUtc" name="Created" type="datetime"/>
                                </span>
                                @{ ViewContext.ClientValidationEnabled = true; }
                                <span asp-validation-for="newsItem.CreatedAtUtc" class="text-danger"></span>
                            </div>

                        </div>


                        <div class="row">
                            <hr>
                            <div class="col-md-2">
                                <span>
                                    <label asp-for="newsItem.Category"></label>
                                </span>
                                <select asp-for="newsItem.Category" class="form-control"
                                        asp-items="@((SelectList) ViewData["Category"])">
                                </select>
                                <span asp-validation-for="newsItem.Category" class="text-danger"></span>

                            </div>

                        </div>


                        <div class="row">
                            <hr>

                            <label class="control-label">Select File</label>
                            <div class="col-md-12">
                                <input id="input-44" name="files" type="file" multiple class="file-loading">
                                <div id="errorBlock" class="help-block"></div>
                            </div>
                        </div>


                        <div>
                            <span>
                                <input type="submit" value="Save">
                            </span>
                        </div>

                    </form>


                    <div class="clear"></div>
                    <span style="font-size: 13px;"><a asp-controller="NewsItems" asp-action="List" style="color: #EB7F1A"><<< Back to List</a></span>
                </div>

            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script src="/lib/Scripts/daterangeHelper.js"></script>
    <script src="/lib/Scripts/daterangeHelperSetup.js"></script>
    <script src="/bundles/jqval.js"></script>
}




