@model NewsBlogCoreMongo.Models.NewsItemViewModel


<h3>@Model.newsItem.Headline</h3>
<span>Created: @Model.newsItem.CreatedAtUtc.ToShortDateString()</span>

@{
    if (Model.newsItem.Images.Any())
    {
        <image-link model="@Model" wrap-tag="ul" class="bxslider"></image-link>
    }
    else
    {
        <ul>
            <li>
            @*<img src="~@pic" alt="picture" />*@
            <li>
        </ul>
    }
}

<div class="box1">
    <div class="data">
        <p>@Model.newsItem.Body</p>
    </div>
    <div class="clear"></div>
    <span style="font-size: 13px;"><a asp-controller="News" asp-action="List" style="color: #EB7F1A"><<< Back to News</a></span>
</div>


@section scripts{

    <script src="~/lib/bxsliderHelper.js"></script>
}
