@model NewsBlogCoreMongo.Models.NewsListViewModel
@{
    ViewBag.Title = "List";
}


@foreach (var p in Model.News)
{
   
    var resizedBody = p.Body.Split(' ').Take(150);
    p.Body = string.Join(" ", resizedBody);  
   @(await Component.InvokeAsync("NewsItem", p)) 

}
<div>hallo!</div>

<div class="page_links">
    <div class="page_numbers">
        <ul>
            @*@Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))*@
        </ul>
    </div>
    <div class="clear"></div>
    <div class="page_bottom">
        <p>Back To : <a href="#">Top</a> |  <a href="News/List">Home</a></p>
    </div>
</div>
