@model IEnumerable<string>


<div class="sidebar">
    <div class="sidebar_top">
        <h3>News Categories</h3>
        <div class="sidebar_top_list">
            <ul>
         
                @foreach(var link in Model)
                {
                    <li>
                        @Html.RouteLink(link,
                            new
                            {
                                controller = "News",
                                action = "List",
                                category = link,
                                Page = 1,
                            }, new { @class = "category-name" + (link == ViewBag.SelectedCategory ? " chosen_category" : " category") })
                          
                    </li>
                }

            </ul>
        </div>
    </div>
</div>